asttokens
Bottleneck
zstandard==0.23.0
torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1
einops
timm
decord==0.6.0
easydict==1.13
tensorboardX
regex
ftfy
pytorchcv==0.0.73
tqdm
scikit-learn
opencv-python
imageio
